.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #242323;
    background-color:#282c34;
}
.titulo{
    text-align: center;
    color:aqua;
}
.menu {
    list-style-type: none;
    display: flex;     
    justify-content: center;
    align-items: center;    
    height: 10vh;
    width: 100%;
};
.menu-item{
    font-weight: bold;
}
.link{
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
};
