.item-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-size: 2rem;
    background-color:dimgrey
};